/*

Variables, colors and other stuff
---------------------------------

*/

$max-width:     1280px;

$tablet:        480px;
$desktop:       800px;
$wide-desktop:  1280px;

$line-size:     1.5;

$space1: .5rem;
$space2: 1rem;
$space3: 2rem;
$space4: 3rem;

$base-color:    #29C4D0;