.content {
    height: auto;
    margin: 3rem auto;
    min-height: 100%;
    max-width: 100%;
}

.content-column {
    @extend .clearfix;
}

.content-column-item {
    display: block;
    margin-bottom: 3rem;
}

@media all and (min-width: 769px) {

    .content-column-item {
        float: left;
        width: calc(33.5% - 2rem);
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.content-column-item-title {
    text-align: center;
}
