.content {
    height: auto;
    margin: 6rem auto 0;
    min-height: 100%;
    max-width: 100%;
}

.content-column {
    @extend .clearfix;
}

.content-column-item {
    display: block;
    margin-bottom: 3rem;
    padding: 2rem;
    text-align: center;
}

.content-column-item-title {
    text-align: center;
}

@media all and (min-width: 769px) {

    .content-column-item {
        float: left;
        width: calc(33.5% - 3rem);
        margin-right: 3rem;
        text-align: left;
        margin-bottom: 0;
        padding: 0;

        &:last-child {
            margin-right: 0;
        }
    }
    .content-column {
        padding: 0 2rem;
    }
}


