.content {
    height: auto;
    margin: 10px auto;
    min-height: 100%;
    padding: 2rem 1rem;
    width: 100%;
}

.content-column {
    @extend .clearfix;
}

.content-column-item {
    float: left;
    width: calc(33.5% - 2rem);
    margin-right: 2rem;

    &:last-child {
        margin-right: 0;
    }
}

// @media all and (min-width: 769px) {
//     .st-content-left {
//         display: block;
//         position: fixed;
//     }

//     .st-content-right {
//         float: right;
//         width: 70%;
//         margin: 0;
//         margin-bottom: 3rem;
//     }
// }

// .tipography-items {
//     color: #444;
//     text-align: center;
//     padding: 30px 0;
// }

// .tipography-item {
//     margin-bottom: 1rem;
// }

