.footer {
    background-color: $main-color;
    color: $white;
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
    padding: 60px 3rem 120px;
}

.link-icon-footer {
    display: block;
}

.location-title {
    font-size: 1.8rem;
    font-weight: 700;
}

.link-address {
    display: inline-block;
}

.location-mail {
    display: inline-block;
}
