/* ==========================================================================
   Header
   ========================================================================== */

.header {
    background-color: $main-color;
}

.logo {
    line-height: 2.7rem;
    float: left;
    font-size: 2.2rem;
    padding: 1.4rem 2rem;

    a {
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }
}

.icon-logo {
    width: 121px;
    height: 30px;
    fill: #fff;
}

.menu-holder {
    @extend .clearfix;
}

.navigation {
    @extend .clearfix;
    border-bottom: 1px solid darken($main-color, 5%);
}

.close-header, .menu-header {
    cursor: pointer;
    line-height: 2.7rem;
    user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    margin-right: 1.5rem;
    vertical-align: middle;
    color: $white;
    font-size: 1.4rem;
    padding: 1.75rem 2rem;
}

.close-header {
    display: none;
}

.toggler-menu {
    float: right;
}

.toggler-content {
    background-color: $main-color;
    max-height: 0;
    overflow: hidden;
    position: relative;
    z-index: 999;
    transition: max-height .5s ease;
}

.toggler-navigation {
    list-style: none;
    text-transform: uppercase;
}

.toggler-items {
    display: block;
    border-bottom: 1px solid darken($main-color, 5%);
    line-height: 3.5rem;
    cursor: pointer;

    &:hover {
        background-color: darken($main-color, 5%);
    }

    a {
        color: $white;
        font-size: 1.4rem;
        display: inline-block;
        padding: 1rem 2rem;

        &:hover {
            color: #fff;
            width: 100%;
            text-decoration: none;
        }
    }
}

.menu-holder {
    &.active {
        .navigation .toggler-menu {
            .menu-header {
                display: none;
            }
            .close-header {
                display: block;
            }
        }
        .toggler-content {
            max-height: 180px;
        }
    }
}

@media all and (min-width: 769px) {
    .toggler-menu {
      display: none;
    }

    .toggler-content {
      background-color: transparent;
      float: right;
      height: auto;
      padding: 0;
      width: auto;

      a {
          padding: 1.4rem 2rem;
      }
    }

    .toggler-navigation {
      float: right;
      padding: 0;
      font-weight: 700;
    }

    .toggler-items {
      display: inline-block;
      border: none;
      padding: 0;
    }

    .toggler-items:last-child {
      margin-right: 0;
    }

    .navigation {
      border-bottom: 0;
      float: left;
      padding: 0;
    }

    .menu-holder {
      margin: auto;
    }

    .logo {
      padding: 1.4rem 1rem;
    }

    .toggler-content {
        max-height: none;
    }

    // .active .navigation .toggler-menu {
    // .menu-header, .close-header {
    //     display: none;
    //     }
    // }
}

