/* ==========================================================================
   Header
   ========================================================================== */

.header {
    background-color: $main-color;
}

.menu-holder {
    @extend .clearfix;

    &.active {
        .navigation .toggler-menu {
            .menu-header {
                display: none;
            }
            .close-header {
                display: block;
            }
        }
        .toggler-content {
            max-height: 180px;
        }
    }

    @media all and (min-width: 769px) {
        margin: auto;
    }
}

.navigation {
    @extend .clearfix;
    border-bottom: 1px solid darken($main-color, 5%);

    @media all and (min-width: 769px) {
        border-bottom: 0;
        float: left;
        padding: 0;
    }
}

.logo {
    line-height: 2.7rem;
    float: left;
    font-size: 2.2rem;
    padding: 1rem 1rem;

    a {
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }
}

.icon-logo {
    display: block;
    width: 150px;
    height: 45px;
}

.icon-logo-huge {
    display: block;
    width: 64px;
    height: 60px;
}


.toggler-menu {
    float: right;

    @media all and (min-width: 769px) {
      display: none;
    }
}

.close-header, .menu-header {
    cursor: pointer;
    line-height: 2.7rem;
    user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    margin-right: 1.5rem;
    vertical-align: middle;
    color: $white;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1.9rem 2rem;
}

.close-header {
    display: none;
}

.toggler-content {
    background-color: $main-color;
    max-height: 0;
    overflow: hidden;
    position: relative;
    z-index: 999;
    transition: max-height .5s ease;

    @media all and (min-width: 769px) {
        background-color: transparent;
        float: right;
        height: auto;
        padding: 0;
        width: auto;
        max-height: none;
    }
}

.toogler-content a {
    padding: 1.5rem 2rem;
}

.toogler-navigation {
    @media all and (min-width: 769px) {
        float: right;
        padding: 0;
        font-weight: 700;
    }
}

.toggler-navigation li a {

    @media all and (min-width: 769px) {
        padding: 1.5rem 2rem;
    }
}

.toggler-navigation, .close-header, .menu-header {
    text-transform: uppercase;
}

.toggler-items {
    display: block;
    border-bottom: 1px solid darken($main-color, 5%);
    line-height: 3.5rem;
    cursor: pointer;

    &:hover {
        background-color: darken($main-color, 5%);
    }

    a {
        color: $white;
        font-size: 1.4rem;
        display: inline-block;
        padding: 1rem 2rem;
        font-weight: 700;

        &:hover {
            color: $white;
            width: 100%;
            text-decoration: none;
        }
    }

    @media all and (min-width: 769px) {
        display: inline-block;
        border: none;
        padding: 0;

        .toggler-items:last-child {
            margin-right: 0;
        }
    }
}


