.subtitle-home, .title-home {
    text-shadow: 0 0 5px #888;
}

.intro {
    position: relative;
}

.intro-heading {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    margin-top: -5%;
    text-align: center;
    pointer-events: none;
}

.intro-button {
    text-align: center;
}

