{% extends "layout.html" %}

{% block content_left %}
<ul class="st-content-left">
    <li class="st-content-left-item"><a class="st-a bold" href="#">Button</a></li>
    <li class="st-content-left-item"><a class="st-a bold" href="#">Tabs</a></li>
    <li class="st-content-left-item"><a class="st-a bold" href="#">Paginación</a></li>
</ul>

{% endblock %}

{% block content_right %}
<div class="st-content-pills">
    <h2 class="st-h2">Pagination</h2>
    <p class="st-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed perferendis dignissimos laudantium, quae vel commodi. Aperiam animi laudantium provident hic quia incidunt rem doloribus vitae, tempore libero. Provident, tempore, ab!</p>
    <div class="st-container-component">
        <h4 class="st-h4">pagination</h4>
        <ul class="pagination">
            <li class="pagination-item"><a class="pagination-prev" href="#">prev</a></li>
            <li class="pagination-item"><a class="pagination-link" href="#">1</a></li>
            <li class="pagination-item"><a class="pagination-link" href="#">2</a></li>
            <li class="pagination-item"><a class="pagination-link is-active" href="#">3</a></li>
            <li class="pagination-item"><a class="pagination-link" href="#">4</a></li>
            <li class="pagination-item"><a class="pagination-link" href="#">5</a></li>
            <li class="pagination-item"><a class="pagination-next" href="#">next</a></li>
        </ul>
    </div>
<pre><code class="language-markup">
<ul class="pagination">
  <li class="pagination-item"><a class="pagination-prev" href="#">prev</a></li>
  <li class="pagination-item"><a class="pagination-link" href="#">1</a></li>
  <li class="pagination-item"><a class="pagination-link" href="#">2</a></li>
  <li class="pagination-item"><a class="pagination-link is-active" href="#">3</a></li>
  <li class="pagination-item"><a class="pagination-link" href="#">4</a></li>
  <li class="pagination-item"><a class="pagination-link" href="#">5</a></li>
  <li class="pagination-item"><a class="pagination-next" href="#">next</a></li>
</ul>
</code></pre>
</div>

<div class="st-content-pills">
    <h2 class="st-h2">Tabs</h2>
    <p class="st-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eveniet dicta accusamus. Similique, ut labore molestiae molestias, non blanditiis ea hic facere nesciunt minima neque dicta. Repellat laudantium modi blanditiis.</p>
    <div class="st-container-component">
        <h4 class="st-h4">Tabs: by default is a block</h4>
        <div class="sb-tabs eighty percent mx-auto">
            <ul class="sb-tabs-group">
                <li class="sb-tab sb-tab-active"><a href="#/one">Very</a></li>
                <li class="sb-tab"><a href="#/two">Sexy</a></li>
                <li class="sb-tab"><a href="#/three">Tabs</a></li>
            </ul>
            <div class="sb-tabs-content">
                Some text about Light sit amet, consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur. Sexy sexy  consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq. Tabs , consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq.
            </div>
        </div>
    </div>
<pre><code class="language-markup">
<div class="sb-tabs eighty percent mx-auto">
  <ul class="sb-tabs-group">
    <li class="sb-tab sb-tab-active"><a href="#/one">Very</a></li>
    <li class="sb-tab"><a href="#/two">Sexy</a></li>
    <li class="sb-tab"><a href="#/three">Tabs</a></li>
  </ul>
  <div class="sb-tabs-content">
    Some text about Light sit amet, consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur. Sexy sexy  consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq. Tabs , consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq.
  </div>
</div>
</code></pre>

    <div class="st-container-component">
        <h4>Tabs block bottom, with align text center</h4>
        <div class="sb-tabs sb-tabs--block-bottom eighty percent mx-auto">
            <div class="sb-tabs-content">
                Some text about Light sit amet, consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur. Sexy sexy  consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq. Tabs , consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq.
            </div>
            <ul class="sb-tabs-group align-center">
                <li class="sb-tab sb-tab-active"><a href="#/one">Very</a></li>
                <li class="sb-tab"><a href="#/two">Sexy</a></li>
                <li class="sb-tab"><a href="#/three">Tabs</a></li>
            </ul>
        </div>
    </div>
<pre><code class="language-markup">
  <div class="sb-tabs sb-tabs--block-bottom eighty percent mx-auto">
    <div class="sb-tabs-content">
        Some text about Light sit amet, consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur. Sexy sexy  consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq. Tabs , consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq.
    </div>
    <ul class="sb-tabs-group align-center">
        <li class="sb-tab sb-tab-active"><a href="#/one">Very</a></li>
        <li class="sb-tab"><a href="#/two">Sexy</a></li>
        <li class="sb-tab"><a href="#/three">Tabs</a></li>
    </ul>
  </div>
</code></pre>

    <div class="st-container-component">
        <h4>Tabs block on left</h4>
        <div class="sb-tabs sb-tabs--block-left eighty percent mx-auto">
            <ul class="sb-tabs-group">
                <li class="sb-tab sb-tab-active"><a href="#/one">Very</a></li>
                <li class="sb-tab"><a href="#/two">Sexy</a></li>
                <li class="sb-tab"><a href="#/three">Tabs</a></li>
            </ul>

            <div class="sb-tabs-content">
                Some text about Light sit amet, consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur. Sexy sexy  consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq. Tabs , consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq.
            </div>
        </div>
    </div>
<pre><code class="language-markup">
  <div class="sb-tabs sb-tabs--block-left eighty percent mx-auto">
    <ul class="sb-tabs-group">
        <li class="sb-tab sb-tab-active"><a href="#/one">Very</a></li>
        <li class="sb-tab"><a href="#/two">Sexy</a></li>
        <li class="sb-tab"><a href="#/three">Tabs</a></li>
    </ul>

    <div class="sb-tabs-content">
        Some text about Light sit amet, consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur. Sexy sexy  consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq. Tabs , consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq.
    </div>
  </div>
</code></pre>
    <div class="st-container-component">
        <h4>Tabs block on right</h4>
        <div class="sb-tabs sb-tabs--block-right eighty percent mx-auto">
            <ul class="sb-tabs-group">
                <li class="sb-tab sb-tab-active"><a href="#/one">Very</a></li>
                <li class="sb-tab"><a href="#/two">Sexy</a></li>
                <li class="sb-tab"><a href="#/three">Tabs</a></li>
            </ul>

            <div class="sb-tabs-content">
                Some text about Light sit amet, consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur. Sexy sexy  consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq. Tabs , consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq.
            </div>
        </div>
    </div>
<pre><code class="language-markup">
<div class="sb-tabs sb-tabs--left eighty percent mx-auto">
    <ul class="sb-tabs-group">
        <li class="sb-tab sb-tab-active"><a href="#/one">Very</a></li>
        <li class="sb-tab"><a href="#/two">Sexy</a></li>
        <li class="sb-tab"><a href="#/three">Tabs</a></li>
    </ul>

    <div class="sb-tabs-content">
        Some text about Light sit amet, consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur. Sexy sexy  consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq. Tabs , consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq.
    </div>
</div>
</pre></code>
</div>
{% endblock %}
