<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if title %}
      {{title}}
      {% else %}
      SocialBro Styleguide
      {% endif %}
    </title>
    <meta name="description" content="put something here">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/sandbox.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src='//localhost:35729/livereload.js'></script>

  </head>
  <body>
    <div class="header">
    {% block header %}
    {% endblock %}
    </div>
    
    <div class="container content">
        {% block content_left %}
        {% endblock %}

        <div class="content-menu-right">
        {% block content_right %}
        {% endblock %}
        </div>
    </div>
    <div class="footer">
    {% block footer %}
    {% endblock %}
    </div>
    
    <script src="/javascript/main.js"></script>
  </body>
</html>
