<!doctype html>
<html class="no-js st" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if title %}
      {{title}}
      {% else %}
      SocialBro Styleguide
      {% endif %}
    </title>
    <meta name="description" content="SocialBro CSS styleguides">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/sandbox.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src='//localhost:35729/livereload.js'></script>

  </head>
  <body>

    {% include "partial/svg.html" %}

    <div class="st-header">
      <div class="st-container st-menu__holder">
          <input type="checkbox" id="toggler" class="st-toggler__input"/>
          <div class="st-navigation">
              <div class="st-logo">
                  <a class="st-a" href="#">Styleguide</a>
              </div>
              <div class="st-toggler__menu">
                  <label for="toggler" class="st-toggler__label st-menu--header">Menu</label>
                  <label for="toggler" class="st-toggler__label st-close--header">Close</label>
              </div>
          </div>
          <div class="st-toggler__content">
              <ul class="st-toggler__navigation">
                  <li class="st-toggler__items"><a class="st-a" href="/index">OVERVIEW</a></li>
                  <li class="st-toggler__items"><a class="st-a" href="/css">CSS</a></li>
                  <li class="st-toggler__items"><a class="st-a" href="/components">COMPONENTS</a></li>
              </ul>
          </div>
      </div>
    </div>
    <div class="st-container st-content">
        {% block content_left %}
        {% endblock %}

        <div class="st-content-right">
        {% block content_right %}
        {% endblock %}
        </div>
    </div>

    <div class="st-footer">
      <span class="st-span">© Copyright 2014 SocialBro.</span>
    </div>

    <script src="/javascript/prism.js" data-manual></script>
    <script src="/javascript/main.js"></script>

  </body>
</html>
