<!doctype html>
<html class="no-js st" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if title %}
      {{title}}
      {% else %}
      SocialBro Styleguide
      {% endif %}
    </title>
    <meta name="description" content="SocialBro CSS styleguides">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/sandbox.css" />
    <script src='//localhost:35729/livereload.js'></script>

  </head>
  <body>

    {% include "partial/svg.html" %}

    <div class="header">
      <div class="container menu-holder">
          <div class="navigation">
              <div class="logo">
                  <a class="logo-header" href="#">
                    <svg viewBox="0 0 121 35" class="icon icon-logo">
                      <use xlink:href="#icon-logo-min"></use>
                    </svg>
                  </a>
              </div>
              <ul class="toggler-menu">
                  <li class="toogler-menu-item"><a href="#" class="menu-header">Menu</a></li>
                  <li class="toogler-menu-item"><a href="#" class="close-header">Close</a></li>
              </ul>
          </div>
          <div class="toggler-content">
              <ul class="toggler-navigation">
                  <li class="toggler-items"><a class="st-a" href="/index">valores</a></li>
                  <li class="toggler-items"><a class="st-a" href="/css">empresa</a></li>
                  <li class="toggler-items"><a class="st-a" href="/components">contacto</a></li>
              </ul>
          </div>
      </div>
    </div>
    <div class="content">

        {% block content_column %}
        {% endblock %}

    </div>
    <!-- <div class="localizacion">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3182.2036299420733!2d-4.98435!3d37.100269999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72ac044ae605fb%3A0x702764b734508d64!2sBrosmar+Corrales+S+L!5e0!3m2!1ses!2ses!4v1424799512272" width="100%" height="250" frameborder="0" style="border:0; border-top: 1px solid #EFF5FA; display: block"></iframe>
    </div> -->

    <div class="footer">
      <div class="location">
          <div class="icon-footer">
              <a href="#">
                <svg viewBox="0 0 100 100" class="icon icon-large">
                    <use xlink:href="#icon-location"></use>
                </svg>
              </a>
          </div>
          <div class="location-address">
              <p>Brosmar S.L.</p>
              <a href="#" class="link-address">Polígono Industrial Los Baldíos S/N, 41657 Los Corrales, Sevilla</a>
          </div>
      </div>
      <span class="brand">© Copyright 2015 Uniformes Colegiales Andalucía</span>
    </div>

    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/owl.carousel.js"></script>
    <script src="/javascript/main.js"></script>


  </body>
</html>
