* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans';
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

.st-content {
    padding: 2rem 1rem;
    margin: 10px auto;
    @extend .clearfix;
    height: auto;
    min-height: 100%;
    width: 100%;
}

// .st-content:after {
//     width: 100%;
//     height: 60px;
//     display: block;
//     clear: both;
// }
