// COLORS


$black:             #333;
$white:             #fff;


$blue-dark:         #293F54;
$blue:              #344A5F;
$blue-light:        #1378B7;
$blue-heading:      #2e4153;
// $anchor-navy:       #344A5F;
// $primary-blue:      #2A95D7;

// $gray-darker:       #444;
$gray-dark:         #797979;
$gray:              #DFE0E1;
$gray-heading:      #6e7e8a;
$gray-light:        #f9fbfc;
// $slate-gray:        #F0F1F2;
$border:            #edeff0;
// $gray-dark:         #6B7D8D;
// $post:              #6BCAE4;
// $thanks:            #E56A6F;
// $account:           #7B8EE2;
// $task:              #5CBF73;
// $opportunity:       #FBB959;
// $event:             #E67193;

$gray-lighter:      #F6F2F2;

// // DONE

// $socialbro: #26B7C2;
// $service: #009EE1;
// $error: #C60E32;
// $succeed: #6AB624;
// $primary: #F18B46;
// $black: #000000;
// $titles: #804997;
// $common-text: #565656;
// $support-text: #B1B1B1;
// $black-grounds: #F2F2F2;

// $green:             #7DCFB3;
// $green-dark:        #3C6559;
// $red:               #F43111;
// $red-dark:          #A73A0B;
// $red-darker:        #792A09;
// $yellow:            #FFD966;
// $yellow-dark:       #FFBF00;
// $yellow-darker:     #7B5C00;


// $text-color:        $black;
// $hr-color:          $gray-light;
