.st-content-left {
    display: none;
}

.st-content-left-item {
    font-size: 1.2rem;
    @include rem(margin-bottom, 0.5);

    a {
        color: $blue-dark;

      &:hover {
        color: lighten($blue-dark, 20%);
      }
    } 
}

@media all and (min-width: 769px) {
    .st-content-left {
        display: block;
        position: fixed;
    }
}
