.st-footer {
    background-color: $socialbro;
    color: $white;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    height: 60px;
    // margin: -60px auto 0;
}

.st-footer > span {
    display: inline-block;
    line-height: 60px;
}