/* ==========================================================================
   Header
   ========================================================================== */

.st-header {
    background-color: $socialbro;
}

.st-logo {
    line-height: 2.7rem;
    float: left;
    font-size: 2.2rem;
    padding: 1.4rem 2rem;

    a {
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }
}

.st-menu__holder {
    @extend .clearfix;
}

.st-navigation {
    @extend .clearfix;
    border-bottom: 1px solid darken($socialbro, 5%);
}

.st-toggler__input {
    display: none;
}

.st-close--header, .st-menu--header {
    cursor: pointer;
    line-height: 2.7rem;
    user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    @include rem(margin-right, 1.5);
    vertical-align: middle;
    color: $white;
    font-size: 1.4rem;
    padding: 1.5rem 2rem;
}

.st-close--header {
    display: none;
}

.st-toggler__menu {
    float: right;
}

.st-toggler__content {
    background-color: $socialbro;
    max-height: 0;
    overflow: hidden;
    position: relative;
    z-index: 999;
    transition: max-height .5s ease;
}

.st-toggler__navigation {
    list-style: none;
}

.st-toggler__items {
    display: block;
    border-bottom: 1px solid darken($socialbro, 5%);
    line-height: 2.7rem;
    cursor: pointer;

    &:hover {
        background-color: darken($socialbro, 5%);
    }

    a {
        color: $white;
        font-size: 1.4rem;
        display: inline-block;
        padding: 1rem 2rem;

        &:hover {
            color: #fff;
            width: 100%;
            text-decoration: none;
        }
    }
}

.st-toggler__input:checked ~ .st-navigation .st-toggler__menu {
    .st-menu--header {
        display: none;
    }
    .st-close--header {
        display: block;
    }
}

.st-toggler__input:checked ~ .st-toggler__content {
    max-height: 150px;
}

@media all and (min-width: 769px) {
  .st-toggler__label {
      display: none;
  }

  .st-toggler__content {
      background-color: transparent;
      float: right;
      height: auto;
      padding: 0;
      width: auto;

      a {
          padding: 1.5rem 2rem;
      }
  }

  .st-toggler__navigation {
      float: right;
      padding: 0;
  }

  .st-toggler__items {
      display: inline-block;
      border: none;
      padding: 0;
  }

  .st-toggler__items:last-child {
      @include rem(margin-right, 0);
  }

  .st-navigation {
      border-bottom: 0;
      float: left;
      padding: 0;
  }

  .st-menu__holder {
      margin: auto;
  }

  .st-logo {
      padding: 1.4rem 1rem;
  }
    .st-toggler__content,
    .st-toggler__input:checked ~ .st-toggler__content {
        max-height: none;
    }

  .st-toggler__input ~ .st-navigation .st-toggler__menu,
  .st-toggler__input:checked ~ .st-navigation .st-toggler__menu  {
    .st-menu--header, .st-close--header {
        display: none;
    }
  }
}
