.st-h1, .st-h2, .st-h3, .st-h4, .st-h5, .st-h6 {
    color: $socialbro;
    font-family: 'Open Sans';
    font-weight: bold;
}

.st-h1 {
  font-size: 5rem;
  line-height: 5.625rem;
  margin-top: 1.875rem;
  margin-bottom: 0.9375rem;
}
.st-h2 {
  font-size: 2.5rem;
  line-height: 2.8125rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}
.st-h3 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}
.st-h4 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
