.st-p,
.st-task-list {
    font-size: 1.4rem;
    line-height: 1.6;
    color: darken($socialbro, 30%);
}

.st-h2, .st-h3 {
    margin-top: 1em;
    margin-bottom: 16px;
}

.st-h2 {
    color: $socialbro;
    font-size: 2.2rem;
}

.st-h3 {
    color: $socialbro;
    font-size: 2rem;
}

.st-task-list {
    list-style-type: disc;
    list-style-position: inside;
}

.st-p + .st-task-list {
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}

.st-task-list + .st-p {
    margin-top: 1.6rem;
}
