.st-p,
.st-task-list {
    font-family: 'Open Sans';
    font-size: 1.4rem;
    line-height: 1.6;
    color: darken($socialbro, 30%);
}

.st-task-list {
    list-style-type: disc;
    list-style-position: inside;
}

.st-p + .st-task-list {
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}

.st-p + .st-p {
    margin-top: 1.6rem;
}

.st-p.leading {
    font-size: 2rem;
}

.st-task-list + .st-p {
    margin-top: 1.6rem;
}

.st-code {
    padding: 0.2rem 0.4rem;
    color: $error;
    background-color: $black-grounds;
    border-radius: 4px;
}

.st-a {
    font-family: 'Open Sans';
    text-decoration: none;

    &:hover {
        color: #C60E32;
    }
}

.st-span {
    font-family: 'Open Sans';
}
