.icon-banknote { background-image: url('/public/images/icons/png/banknote.png'); background-repeat: no-repeat; }

.icon-bubble { background-image: url('/public/images/icons/png/bubble.png'); background-repeat: no-repeat; }

.icon-bulb { background-image: url('/public/images/icons/png/bulb.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('/public/images/icons/png/calendar.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('/public/images/icons/png/camera.png'); background-repeat: no-repeat; }

.icon-clip { background-image: url('/public/images/icons/png/clip.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('/public/images/icons/png/clock.png'); background-repeat: no-repeat; }

.icon-cloud { background-image: url('/public/images/icons/png/cloud.png'); background-repeat: no-repeat; }

.icon-cup { background-image: url('/public/images/icons/png/cup.png'); background-repeat: no-repeat; }

.icon-data { background-image: url('/public/images/icons/png/data.png'); background-repeat: no-repeat; }

.icon-diamond { background-image: url('/public/images/icons/png/diamond.png'); background-repeat: no-repeat; }

.icon-display { background-image: url('/public/images/icons/png/display.png'); background-repeat: no-repeat; }

.icon-eye { background-image: url('/public/images/icons/png/eye.png'); background-repeat: no-repeat; }

.icon-fire { background-image: url('/public/images/icons/png/fire.png'); background-repeat: no-repeat; }

.icon-food { background-image: url('/public/images/icons/png/food.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('/public/images/icons/png/heart.png'); background-repeat: no-repeat; }

.icon-key { background-image: url('/public/images/icons/png/key.png'); background-repeat: no-repeat; }

.icon-lab { background-image: url('/public/images/icons/png/lab.png'); background-repeat: no-repeat; }

.icon-like { background-image: url('/public/images/icons/png/like.png'); background-repeat: no-repeat; }

.icon-location { background-image: url('/public/images/icons/png/location.png'); background-repeat: no-repeat; }

.icon-lock { background-image: url('/public/images/icons/png/lock.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('/public/images/icons/png/mail.png'); background-repeat: no-repeat; }

.icon-megaphone { background-image: url('/public/images/icons/png/megaphone.png'); background-repeat: no-repeat; }

.icon-music { background-image: url('/public/images/icons/png/music.png'); background-repeat: no-repeat; }

.icon-news { background-image: url('/public/images/icons/png/news.png'); background-repeat: no-repeat; }

.icon-note { background-image: url('/public/images/icons/png/note.png'); background-repeat: no-repeat; }

.icon-paperplane { background-image: url('/public/images/icons/png/paperplane.png'); background-repeat: no-repeat; }

.icon-params { background-image: url('/public/images/icons/png/params.png'); background-repeat: no-repeat; }

.icon-pen { background-image: url('/public/images/icons/png/pen.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('/public/images/icons/png/phone.png'); background-repeat: no-repeat; }

.icon-photo { background-image: url('/public/images/icons/png/photo.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('/public/images/icons/png/search.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('/public/images/icons/png/settings.png'); background-repeat: no-repeat; }

.icon-shop { background-image: url('/public/images/icons/png/shop.png'); background-repeat: no-repeat; }

.icon-sound { background-image: url('/public/images/icons/png/sound.png'); background-repeat: no-repeat; }

.icon-stack { background-image: url('/public/images/icons/png/stack.png'); background-repeat: no-repeat; }

.icon-star { background-image: url('/public/images/icons/png/star.png'); background-repeat: no-repeat; }

.icon-study { background-image: url('/public/images/icons/png/study.png'); background-repeat: no-repeat; }

.icon-t-shirt { background-image: url('/public/images/icons/png/t-shirt.png'); background-repeat: no-repeat; }

.icon-tag { background-image: url('/public/images/icons/png/tag.png'); background-repeat: no-repeat; }

.icon-trash { background-image: url('/public/images/icons/png/trash.png'); background-repeat: no-repeat; }

.icon-truck { background-image: url('/public/images/icons/png/truck.png'); background-repeat: no-repeat; }

.icon-tv { background-image: url('/public/images/icons/png/tv.png'); background-repeat: no-repeat; }

.icon-user { background-image: url('/public/images/icons/png/user.png'); background-repeat: no-repeat; }

.icon-video { background-image: url('/public/images/icons/png/video.png'); background-repeat: no-repeat; }

.icon-vynil { background-image: url('/public/images/icons/png/vynil.png'); background-repeat: no-repeat; }

.icon-wallet { background-image: url('/public/images/icons/png/wallet.png'); background-repeat: no-repeat; }

.icon-world { background-image: url('/public/images/icons/png/world.png'); background-repeat: no-repeat; }

