.icon-pause-danger { background-image: url('/public/images/icons/png/pause-danger.png'); background-repeat: no-repeat; }

.icon-pause-light { background-image: url('/public/images/icons/png/pause-light.png'); background-repeat: no-repeat; }

.icon-pause-success { background-image: url('/public/images/icons/png/pause-success.png'); background-repeat: no-repeat; }

.icon-pause { background-image: url('/public/images/icons/png/pause.png'); background-repeat: no-repeat; }

.icon-pencil-danger { background-image: url('/public/images/icons/png/pencil-danger.png'); background-repeat: no-repeat; }

.icon-pencil-light { background-image: url('/public/images/icons/png/pencil-light.png'); background-repeat: no-repeat; }

.icon-pencil-success { background-image: url('/public/images/icons/png/pencil-success.png'); background-repeat: no-repeat; }

.icon-pencil { background-image: url('/public/images/icons/png/pencil.png'); background-repeat: no-repeat; }

.icon-play-danger { background-image: url('/public/images/icons/png/play-danger.png'); background-repeat: no-repeat; }

.icon-play-light { background-image: url('/public/images/icons/png/play-light.png'); background-repeat: no-repeat; }

.icon-play-success { background-image: url('/public/images/icons/png/play-success.png'); background-repeat: no-repeat; }

.icon-play { background-image: url('/public/images/icons/png/play.png'); background-repeat: no-repeat; }

.icon-points-danger { background-image: url('/public/images/icons/png/points-danger.png'); background-repeat: no-repeat; }

.icon-points-light { background-image: url('/public/images/icons/png/points-light.png'); background-repeat: no-repeat; }

.icon-points-success { background-image: url('/public/images/icons/png/points-success.png'); background-repeat: no-repeat; }

.icon-points { background-image: url('/public/images/icons/png/points.png'); background-repeat: no-repeat; }

.icon-time-danger { background-image: url('/public/images/icons/png/time-danger.png'); background-repeat: no-repeat; }

.icon-time-light { background-image: url('/public/images/icons/png/time-light.png'); background-repeat: no-repeat; }

.icon-time-success { background-image: url('/public/images/icons/png/time-success.png'); background-repeat: no-repeat; }

.icon-time { background-image: url('/public/images/icons/png/time.png'); background-repeat: no-repeat; }

.icon-toggle-danger { background-image: url('/public/images/icons/png/toggle-danger.png'); background-repeat: no-repeat; }

.icon-toggle-light { background-image: url('/public/images/icons/png/toggle-light.png'); background-repeat: no-repeat; }

.icon-toggle-success { background-image: url('/public/images/icons/png/toggle-success.png'); background-repeat: no-repeat; }

.icon-toggle { background-image: url('/public/images/icons/png/toggle.png'); background-repeat: no-repeat; }

.icon-trash-danger { background-image: url('/public/images/icons/png/trash-danger.png'); background-repeat: no-repeat; }

.icon-trash-light { background-image: url('/public/images/icons/png/trash-light.png'); background-repeat: no-repeat; }

.icon-trash-success { background-image: url('/public/images/icons/png/trash-success.png'); background-repeat: no-repeat; }

.icon-trash { background-image: url('/public/images/icons/png/trash.png'); background-repeat: no-repeat; }

