/*

Headings
--------

h1, h2, h3, h4, h5, h6 headings styles.

*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
}
