/*

Link
----

Links styles.

*/

a {

  color: $common-text;
  cursor: pointer;
  text-decoration: none;


  // &, &:visited {
  //   text-decoration: none;
  // }

  &:hover {
    text-decoration: underline;
  }
}
