.tipography-items {
    text-align: center;
}

.tipography-item {
    margin-bottom: 1rem;
}

.tipography-introduction, .tipography-item, .tipography-item a {
    color: $common-text;
}

.tipography-introduction p {
    margin: 2rem 0;
}

