/*

The avatar pattern: image + details;

    <div class="avatar-module">
      <div class="avatar-image">
        <img class="avatar" src="//gravatar.com/avatar/4aeb778e1a4f2afba6142d6eff73b8a6?s=80" width="36" height="36" >
      </div>
      <div class="avatar-details">
        <a href="#">@nobuti</a>
      </div>
    </div>

*/

.avatar-module {
    display: table;
}

.avatar-image, .avatar-details {
    display: table-cell;
    vertical-align: middle;
}

.avatar-details {
    position: relative;
}

.avatar-image {
    padding-right: 2rem;
}

.avatar-module.align-top .avatar-image,
.avatar-module.align-top .avatar-details {
    vertical-align: top;
}

.avatar-module .avatar {
    border-radius: 3px;
    display: block;
}

.avatar-module .avatar-user,
.avatar-module .avatar-nick,
.avatar-module .avatar-location,
.avatar-info {
    display: block;
}

.avatar-module .avatar-user {
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.avatar-module .avatar-nick {
    color: #bbb;
}

.avatar-module .avatar-location {
    color: #bbb;
    font-size: 11px;
    margin-top: 5px;
}

.avatar {
    border: 1px solid $white;
}

.avatar-user {
    margin-right: 1rem;
}

