/*

Breadcrumb
----------

Breadcrumb in two flavours: normal with arrow shapes and simple.

*/

.breadcrumb {
    @extend .clearfix;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.breadcrumb-item {
    background-color: #f6f6f6;
    display: table-cell;
    margin-left: -0.25rem;
    padding: 1rem 1rem 1rem 2.5rem;
    position: relative;
    vertical-align: middle;

    &:after, &:before {
        border-style: solid;
        content: '';
        display: block;
        height: 0;
        left: 100%;
        position: absolute;
        width: 0;
        z-index: 1;
    }

    &:before {
        border-color: transparent transparent transparent #D6D6D6;
        border-width: 2.1rem 2.1rem 2.1rem 1.3rem;
        top: -0.1rem;
    }

    &:after {
        border-color: transparent transparent transparent #F6F6F6;
        border-width: 2rem 2rem 2rem 1.2rem;
        top: 0;
    }
}

.breadcrumb-item:last-child {
    background-color: #fff;

    &:after, &:before {
        content: normal;
    }
}

.breadcrumb-item-large {
    height: 80px;
    padding: 1rem 1rem 1rem 4rem;

    &:first-child {
        padding-left: 2.5rem;
    }

    &:before {
        border-color: transparent transparent transparent #D6D6D6;
        border-width: 4.1rem 4.1rem 4.1rem 2.5rem;
        top: -0.1rem;
    }

    &:after {
        border-color: transparent transparent transparent #F6F6F6;
        border-width: 4rem 4rem 4rem 2.4rem;
        top: 0;
    }
}

// Breadcrumb simple

.breadcrumb-item-simple {
    display: inline-block;
    padding: 1rem 0;
    vertical-align: middle;

    &:after {
        color: gray;
        content: "/";
        display: inline-block;
        margin: 0 1rem;
    }
}

.breadcrumb-item-simple:first-child {
    margin-left: 2.5rem;
}

.breadcrumb-item-simple:last-child {

    &:after {
        content: normal;
    }
}
