.breadcrumb {
    @extend .clearfix;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    background-color: $white;
}

.breadcrumb-normal-item {
    position: relative;
    margin-right: 2rem;

    &:last-child {
        margin-right: 0;
    }
}

.breadcrumb-normal-item:before {
    content: "/";
    display: inline-block;
    position: absolute;
    left: 100%;
    color: gray;
}

.breadcrumb-normal-item,
.breadcrumb-simple-item {
    padding: 1rem 2rem;
    float: left;

    &:last-child {
    margin-right: 0;
    }
}

.breadcrumb-simple-item {
    position: relative;
    background-color: $black-grounds;
    padding-left: 4rem;
    margin-right: 2.1rem;

    &:first-child {
    padding-left: 2rem;
    }
}

.breadcrumb-simple-item:after,
.breadcrumb-simple-item:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    // border-top: 2rem solid transparent;
    // border-bottom: 2rem solid transparent;
    // border-left: 1.2rem solid;
    border: 0 solid gray;
    border-width: 20px 10px;
}

.breadcrumb-simple-item:after {
    border-left-color: blue; //$black-grounds;
    left: 100%;
}

.breadcrumb-simple-item:before {
    border-left-color: blue; //#ccc;
    right: 100%;
}

.breadcrumb-simple-item:first-child:before,
.breadcrumb-simple-item:last-child:after,
.breadcrumb-normal-item:last-child:before {
    content: normal;
}

.breadcrumb-simple-item.current {
    background-color: white;
}

// .breadcrumb-avatar li {
//   background-color: $black-grounds;
// }

.breadcrumb-simple-item.large {
    padding: 2rem 3rem;
}

// .breadcrumb-simple-item.large:after,
// .breadcrumb-simple-item.large:before {
//     border-top: 4.3rem solid transparent;
//     border-bottom: 4.3rem solid transparent;
//     border-left: 2rem solid;
// }
