.link-action {
    display: inline-block;
    background-color: $main-color;
    border-radius: 3px;
    color: $white;
    font-weight: 700;
    font-size: 2rem;
    box-shadow: 0 3px 0 0 #024E77;

    &:hover, &:active {
        background-color: darken($main-color, 5%);
        text-decoration: none;
    }
}

.link-action.large {
    padding: 1rem 5rem;
}

.link-action.small {
    padding: 1rem;
}
