/*

Dropdown toggler
----------------

Base button to normalize behaviour. It renders the same for links, buttons or inputs type submit. Every other button style should extend this object.

    <a href=# class="dropdown-toggler">Show settings options</a>

*/

.dropdown-toggler {
    @include text-replacement;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 0.4rem 0.3rem;
    vertical-align: text-top;
}

.dropdown-toggler:before {
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid #444;
    content: '';
    display: inline-block;
    height: 0;
    width: 0;
}

